
body {
  background-image: url("images/track.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
p {
  color:black;
  text-align: center;
  font-size: 18px;
}
p rap {
 color:aqua;
  text-align: center;
  font-size: 20px;
}
h1 {
    color: black;
    text-decoration: firebrick;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: red;
    text-align: center;
    font-size: 24px;
}

h3 {
    color: red;
    text-align: center;
    font-size: 24px;
}

h4 {
    color: red;
    text-align: center;
    font-size: 24px;
}

#fact-container {
  margin-top: 20px;
}
#img1-container{
    margin: auto;
    margin-top: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 350px;
  min-height: 350px;
  max-height: 400px;
  max-width: 400px;
  justify-content: center;
  align-content: center;
}

button {
  margin: auto;
  background-color: red;
  border: black;
  color: black;
  padding: 15px 32px;
  text-align: left;
  display: inline-block;
  font-size: 18px; 
}
#randomFact.html {
    margin: auto;
}